body {
    font-family: 'Ubuntu', 'sans-serif';
}

.header{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
 }

 .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
 }
 .logo-img{
    display: block;
    width: 38px;
    height: 36px;
    background-image: url(img/Frame.png);
    margin-right: 20px;
 }

 .logo-text{
    font-size: 25px;
    color: #202020;
 }

 .nav{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
 }

 .nav li{
    margin-left: 20px;
 }

 .nav li a{
    text-decoration: none;
    color: #202020;
 }

 .nav-btn{
    background-color: green;
    border-radius: 8px;
    padding: 10px 35px;
    color: white;
      border: none;
    font-weight: 700;
     }

     .page{
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;
      }

.girl-1{
    display: flex;
    width: 600px;
    height: 665px;
    margin-left: 600px;
    margin-bottom: 500px;

}

.wrap{
     width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.title-main{
    font-size: 54px;
    color: #202020 ;
    font-weight: 700 ;
  }

.title-main .green-text {
    color: green
}

.text-main{
    font-size: 17px;
    line-height: 1.5;
    color: #4f4f4f;
}

  .button {
    border-radius: 50%; 
    padding: 25px 50px;
    border: solid green;
    font-size: 24px;
    display: inline-block;
}

.button .btn-color {
    color: green;
}

.girl-1 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 500px; 
    height: auto;
}
